target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

*.log
logs/

.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

.DS_Store
Thumbs.db

*.mv.db
*.trace.db

out/

*.tmp
*.swp
